body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #30AADD;
  position: relative;
  padding-top: 100px;
}

.programmer {
  font-size: 2.5rem;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.programmer {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-color: grey;
  border-width: 5px;
}

.middle-container {
  background-color: #fcfdff;
}

.mountain {
  position: relative;
  top: 4px;
}
